/* 公共颜色变量 */
:root {
    --text-color-light: #111111;
    --text-color-dark: #ddd;
    --background-color-light: #f4f4f9;
    --background-color-dark: #181818;
    --container-bg-color-light: white;
    --container-bg-color-dark: #1D1E22;
    --hover-color: #3498db;
    --author-color-light: gray;
    --author-color-dark: #b3b3b3;
    --modal-bg-blur: 25px;
    --shadow-color-light: rgba(0, 0, 0, 0.1);
    --shadow-color-dark: rgba(255, 255, 255, 0.1);
    --border-color-light: #e3e8f7;
    --border-color-dark: #42444a;
    --scrollbar-color-dark: #343434;
    --scrollbar-color-light: #aeaeae;
    --button-bg-color-light: white;
    --button-bg-color-dark: #333;
}

/* 浅色模式颜色 */
[data-theme=light] {
    --text-color: var(--text-color-light);
    --background-color: var(--background-color-light);
    --tag-bg-color: #bfbfbf;
    --container-bg-color: var(--container-bg-color-light);
    --author-color: var(--author-color-light);
    --shadow-color: var(--shadow-color-light);
    --border-color: var(--border-color-light);
    --modal-bg-color: rgba(255, 255, 255, 0.6);
    --load-more-btn-bg-color: var(--container-bg-color);
    --scrollbar-color: var(--scrollbar-color-light);
    --button-bg-color: var(--button-bg-color-light);
}

/* 深色模式颜色 */
[data-theme=dark] {
    --text-color: var(--text-color-dark);
    --background-color: var(--background-color-dark);
    --tag-bg-color: #474747;
    --container-bg-color: var(--container-bg-color-dark);
    --author-color: var(--author-color-dark);
    --shadow-color: var(--shadow-color-dark);
    --border-color: var(--border-color-dark);
    --modal-bg-color: rgba(0, 0, 0, 0.6);
    --load-more-btn-bg-color: var(--container-bg-color);
    --scrollbar-color: var(--scrollbar-color-dark);
    --button-bg-color: var(--button-bg-color-dark);
}


* {
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-color) transparent;
}
html {
    height: 100%;
}

body {
    height: 100%;
    background-color: var(--background-color);
}

span {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
a {
    text-decoration: none;
}
.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
p {
    color: var(--text-color);
    margin-bottom: 30px;
}
.button-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.button {
    background-color: var(--button-bg-color);
    border: 2px solid #007BFF;
    color: #007BFF;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    transition: background-color 0.3s, color 0.3s;
}

.button:hover {
    background-color: #007BFF;
    color: white;
}
#friend-circle-lite-root {
    margin-top: 0.5rem;
    width: 100%;
    -webkit-animation: fadeIn 0.5s ease-in-out forwards;
            animation: fadeIn 0.5s ease-in-out forwards;
}

@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* 随机友链文章卡片 */
#random-article {
    display: flex;
    position: relative;
    width: 100%;
    height: 200px;
    max-height: 170px;
    margin: 8px 0;
    background-color: var(--container-bg-color);
    border-radius: 10px;
    border: 1px solid var(--border-color);
    transition: border .5s ease-in-out;
    line-height: normal;
}
#random-article:hover {
    border: 1px solid var(--hover-color);
}
.random-refresh {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.random-refresh .icon {
    height: 16px;
    width: 16px;
    fill: var(--author-color);
    transition: fill 0.5s ease-in-out;
}

.random-refresh:hover .icon {
    fill: #ff7400;
}

.random-container {
    position: relative;
    margin: 20px;
    white-space: nowrap;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
}

.random-title:hover{
    text-indent: 20px;
}

.random-author {
    font-size: 14px;
    color: var(--author-color);
    margin-bottom: 10px;
}

.random-container-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--text-color);
}

.random-title {
    margin-bottom: 20px;
    font-size: 25px;
    transition: text-indent 0.3s ease-in-out;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--text-color);
}

.random-link-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: var(--hover-color);
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease-in-out;
}

/* 模态框样式 */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(var(--modal-bg-blur));
    -webkit-backdrop-filter: blur(var(--modal-bg-blur));
    z-index: 999;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.modal.modal-open {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateY(-50px);
    width: 80%;
    max-width: 500px;
    overflow: hidden;
    background-color: var(--modal-bg-color);
    padding: 20px;
    border: 1px solid var(--border-color);
    z-index: 1000;
    border-radius: 20px;
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.modal.modal-open .modal-content {
    transform: translate(-50%, -50%) translateY(0);
    opacity: 1;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
@media screen and (max-width: 440px) {
    .modal-article .modal-article-title {
        font-size: 16px;
    }
}

#modal-author-avatar {
    display: block;
    margin: auto;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    opacity: .7;
    -o-object-fit: cover;
       object-fit: cover;
}

#modal-author-name-link {
    display: block;
    text-align: center;
    color: var(--hover-color);
}

.modal-content hr {
    margin: 20px 0;
}

#modal-articles-container {
    border-top: var(--hover-color) double 2px;
    margin-top: 10px;
    padding-top: 10px;
}

.modal-article {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: var(--hover-color) dashed 1px;
}

.modal-article .modal-article-title {
    color: var(--text-color);
    line-height: 21px;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.3s ease-in-out;
}

.modal-article .modal-article-title:hover {
    color: var(--hover-color);
}

.modal-article .modal-article-date {
    font-size: 12px;
    width: 100%;
    color: var(--author-color);
    padding-top: 10px;
    cursor: default;
    text-align: right;
}
.modal-content .modal-background {
    position: absolute;
    right: -20px;
    bottom: -20px;
    border-radius: 50%;
    background-size: 100%;
    background-position: right bottom;
    background-repeat: no-repeat;
    z-index: -3;
    opacity: .5;
    width: 180px;
    height: 180px;
    -webkit-filter: blur(2px);
            filter: blur(2px);
}

.modal-content {
    position: relative;
    z-index: 1;
}
/* 其他样式... */
.articles-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 8px;
    width: 100%;
}

.card {
    background-color: var(--container-bg-color);
    border-radius: 10px;
    padding: 10px;
    border: 1px solid var(--border-color);
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
    transition: border .5s ease-in-out;
}

.card-title {
    z-index: 1;
    font-size: 17px;
    color: var(--text-color);
    font-weight: 520;
    cursor: pointer;
    margin-bottom: 10px;
    line-height: 1.5;
    max-height: 4.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    transition: color 0.3s ease-in-out;
}

.card-title:hover {
    color: var(--hover-color);
}

.card-author,
.card-date {
    font-size: 12px;
    color: var(--author-color);
    padding: 5px;
    transition: box-shadow 0.3s ease-in-out;
}

.card-author:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-author {
    cursor: pointer;
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: 15px;
    display: flex;
    padding-right: 10px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 26px;
    align-items: center;
}

#friend-circle-lite-root .card-author img {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin: 0 2px;
    -o-object-fit: cover;
       object-fit: cover;
}

.card-date {
    position: absolute;
    z-index: 1;
    bottom: 5px;
    cursor: default;
    right: 10px;
    display: flex;
    align-items: center;
}

#friend-circle-lite-root .card-bg {
    z-index: 0;
    border-radius: 50%;
    margin: -30px;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 150px;
    height: 150px;
    opacity: 0.4;
    transform: scale(.9);
    transition: all 0.3s ease-in-out;
    -webkit-filter: blur(2px);
            filter: blur(2px);
}
.card:hover {
    border: 1px solid var(--hover-color);
}

#friend-circle-lite-root .card:hover .card-bg {
    -webkit-filter: blur(0);
            filter: blur(0);
    transform: scale(.8);
    margin: 0;
    opacity: 0.6;
}

#load-more-btn {
    color: var(--text-color);
    font-size: 15px;
    background-color: var(--container-bg-color);
    cursor: pointer;
    width: 200px;
    border-radius: 20px;
    border: 1px solid var(--border-color);
    padding: 3px;
    transition: all 0.3s ease-in-out;
    margin: 20px auto;
    display: block;
}

#load-more-btn:hover {
    background-color: var(--hover-color);
    width: 300px;
    color: white;
}

#stats-container {
    font-size: 13px;
    text-align: right;
    margin-top: 20px;
}

#stats-container > * {
    margin-bottom: 3px;
    color: var(--text-color);
}

#stats-container a {
    color: var(--author-color);
    text-decoration: none;
}